html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: x-large;
}
span{
  font-size: small;
}
button{
  background-color: #0096ea !important;
  border-radius: 25px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: large !important;
}
